<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Person code:</strong>
    <%= @person.person_code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @person.name %>
  </p>

  <p>
    <strong>Identification number:</strong>
    <%= @person.identification_number %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @person.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @person.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @person.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= @person.zip_code %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= @person.complement %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @person.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @person.phone %>
  </p>

  <div class="row">
    <div class="col s1">
      <p><%= button_to 'Edit', edit_person_path(@person), method: :get  %></p>
    </div>
  </div>
  <div class="col s5">
    <p><%= button_to "New Recipients", "/recipients/new", method: :get  %></p>
  </div>
  <div class="col s6 right-align">  
    <p><%= button_to 'Back', people_path, method: :get  %></p>
  </div>
</div>