<%= form_with(model: catastrophe, local: true) do |form| %>
  <% if catastrophe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catastrophe.errors.count, "error") %> prohibited this catastrophe from being saved:</h2>

      <ul>
      <% catastrophe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :catastrophe_code %>
    <%= form.number_field :catastrophe_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :degree_of_emergency %>
    <%= form.number_field :degree_of_emergency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
 <% end %>