<p id="notice"><%= notice %></p>

<h1>Catastrophes</h1>

<table>
  <thead>
    <tr>
      <th>Catastrophe code</th>
      <th>Name</th>
      <th>Degree of emergency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catastrophes.each do |catastrophe| %>
      <tr>
        <td><%= catastrophe.catastrophe_code %></td>
        <td><%= catastrophe.name %></td>
        <td><%= catastrophe.degree_of_emergency %></td>
        <td><%= link_to 'Show', catastrophe %></td>
        <td><%= link_to 'Edit', edit_catastrophe_path(catastrophe) %></td>
        <td><%= link_to 'Destroy', catastrophe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catastrophe', new_catastrophe_path %>
