<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Catastrophes</h3>

  <table>
    <thead>
      <tr>
        <th>Catastrophe code</th>
        <th>Name</th>
        <th>Degree of emergency</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @catastrophes.each do |catastrophe| %>
        <tr>
          <td><%= catastrophe.catastrophe_code %></td>
          <td><%= catastrophe.name %></td>
          <td><%= catastrophe.degree_of_emergency %></td>
          <td><%= button_to 'Show', catastrophe, method: :get %></td>
          <td><%= button_to 'Edit', edit_catastrophe_path(catastrophe), method: :get  %></td>
          <td><%= button_to 'Destroy', catastrophe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <p>
    <%= button_to 'New Catastrophe', new_catastrophe_path, method: :get %>
  </p>
</div>